body {
    background-color: black;
}
  
h1 {
color: beige;
margin-top: 20pc;
}

p {
font-family: verdana;
font-size: 20px;
color: chocolate;
}

a {
font-family: system-ui;
text-align: center;
color: brown;
}

.gay {
    margin-left: 700px;
}
